@font-face {
    font-family: 'Neue';
    src: local('Lato'), url(./fonts/NeueMontreal-Regular.ttf) format('truetype');
  }
  
  @font-face {
      font-family: 'FounderGrotesk';
      font-weight: 900;
      src: local('Lato'), url(./fonts/FoundersGrotesk-Semibold.ttf) format('truetype');
  }
  
  @font-face {
      font-family: 'Icomoon';
      font-weight: 900;
      src: local('Lato'), url(./fonts/icomoon.ttf) format('truetype');
  }